*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI', sans-serif;
    background: linear-gradient(135deg,#e8f5e9,#c8e6c9);
}

nav{
    background:green;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 50px;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:150px 20px;
}

.hero h1{
    font-size:45px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    margin-bottom:40px;
}

.hero button{
    padding:15px 35px;
    background:green;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-size:18px;
    font-weight:bold;
}
.hero button{
    margin-top: 30px;
}


.hero button:hover{
    background:#0b7a0b;
}
.hero button{
    transition:0.3s;
}

.hero button:hover{
    background:#0b7a0b;
    transform:scale(1.05);
}

.form-container{
    width:400px;
    margin:80px auto;
    padding:40px;
    background:white;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.15);
    text-align:center;
}

.form-container h2{
    color:green;
    margin-bottom:25px;
}

.form-container input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:15px;
}

.form-container button{
    width:100%;
    padding:12px;
    background:green;
    color:white;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
}

.form-container button:hover{
    background:#0b7a0b;
}

.form-container a{
    color:green;
    text-decoration:none;
    font-weight:bold;
}
.dashboard-title{
    text-align:center;
    margin-top:40px;
    color:green;
}

.card-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    margin-top:40px;
}

.card{
    background:white;
    width:250px;
    padding:25px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h3{
    color:green;
    margin-bottom:15px;
}

.card p{
    margin-bottom:15px;
}

.card button{
    background:green;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:8px;
    cursor:pointer;
}

.card button:hover{
    background:#0b7a0b;
}
.form-container select{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:15px;
}